div.help-block {
    color : red;
    font-size: xx-small;
    margin: 2px;
}

.form-group {
    display: flex;
    flex-flow: column;
}

form {
    display: flex;
    flex-flow: column;
    align-items: baseline;
}

input {
    border: solid slategrey 2px;
    border-radius: 8px
}

.has-error > input {
    border-color: #b54d58;
}

#login-box {
    font-size: 12px;
    align-self: end;
    margin-right: 20px;
}

#login-box > a {
    transform: translateY(-19px);
    position: absolute;
}

#form_container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#helper-box {
    max-width: 60vw;
    border: solid white 2px;
    border-radius: 5px;
    padding: 50px 75px;
    box-shadow: 2px 2px 8px 8px slategrey;
}

label {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 3px;
}

#form-group {
    margin: 5px;
}

#submit-group {
    align-self: center;
}

button {
    border: solid black 2px;
    border-radius: 8px;
    margin-top: 50px;
}

h1 {
    font-family: sans-serif;
    padding: 70px 0;
    color: lightslategrey;
    font-size: xxx-large;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    div.help-block {
        font-size: 26px;
    }
    #login-box {
        align-self: end;
        margin-right: 20px;
    }
    #login-box > a {
        transform: translateY(-35px);
        font-size: 25px;
    }
    #form_container {
        margin-top: 100px;
    }
    input{
        max-width: 80%;
        font-size: 40px;
    }
    #helper-box {
        max-width: 80vw ;
    }
    button {
        font-size: 40px;
        margin-top: 10px;
    }
    label {
        font-size: 40px;
        margin: 0;
    }
    form {
        align-items: center;
    }
    h1 {
        font-size: 100px;
        padding: 20px;
    }
}