div.help-block {
    color : red;
    font-size: xx-small;
}

div {
    text-align: center;
}

a {
    font-size: 12px;
    position: fixed;
    bottom: 554px;
    left: 1075px;
}

#helper-box {
    position: fixed;
    left: 715px;
    bottom: 545px;
    border: solid white 2px;
    border-radius: 5px;
    padding: 82px 210px;
    box-shadow: 2px 2px 8px 8px slategrey;
}

label {
    padding: 70px 10px;
}

#name-group {
    padding: 5px;
}

#email-group {
    padding: 5px;
}

#password-group {
    padding: 5px;
}

#full_name-group {
    padding: 5px;
}

button {
    position: fixed;
    left: 900px;
    bottom: 550px;
}

h1 {
    padding: 70px 0;
    color: lightslategrey;
    font-size: xxx-large;
    text-align: center;
}