/*
!/pages/
/pages/videos
!/pages/videos/example_free.mp4
!/pages/videos/example_paid.mp4
!/server/
/server/local.ini
!/components/
!/scraping/
/scraping/courses/
!.gitignore
!README.md
!docker-compose.yml
/server/cert.txt
*.DS_Store
