.content-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.items-wrapper {
    min-width: 30vw;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.review-item-wrapper {
    background: #fff5de;
    padding: 6px 14px 6px 14px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-flow: row;
    align-items: center;
    box-shadow: 0 1px 3px hsl(0, 0%, 0.2%)
}

.review-item-name {
    flex: auto;
    font-size: large;
    text-align: center;
}

.review-item-price {
    flex: auto;
    font-size: medium;
    color: gray;
}

.review-item-delete {
    color: darkred;
    transition: color 100ms ease-in-out;
    font-variation-settings: 'FILL' 1;
    cursor: pointer;
}

.review-item-delete:hover {
    color: red;
}

.checkout-empty {
    margin-top: 50px;
    color: darkslategray;
}

.checkout-empty ~ a {
    color: #80a8f1;
    transition: color 300ms ease-in-out;
    margin-top: 10px;
    text-decoration: none;
}

.checkout-empty ~ a:hover {
    color: #97b6ee;
}

.review-payment-wrapper {
    margin-top: 50px;
    color: darkslategray;
    background: #cff1bb;
    padding: 12px 28px 12px 28px;
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-flow: row;
    align-items: center;
    box-shadow: 0 2px 5px hsl(0, 0%, 0.2%)
}

a.payment-link {
    align-self: start;
    text-decoration: none;
}
