.form-group {
    display: flex;
    flex-flow: column;
}

form {
    display: flex;
    flex-flow: column;
    align-items: baseline;
    margin: 2px;
}

input {
    border: solid lightslategrey 2px;
    border-radius: 8px;
    min-width: min-content;
    max-width: 75%;
    height: 2em;
}

.has-error > input {
    border-color: #b54d58;
}

div.form-group {
    display: flex;
    flex-flow: column;
}

div.form-success {
    background: #52a452;
    border-radius: 5px;
    border-color: darkgreen;
    width: 50%;
    align-self: center;
    height: 20%;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

div.form_success > span {
    color: whitesmoke;
    font-size: 17px;
    font-weight: bold;
}

span.form-error {
    color: red;
    font-size: xx-small;
    margin: 2px;
}

div.form-btns {
    display: flex;
    flex-flow: row;
    width: 100%;
    margin-top: 30px;
}

div.form-btns > div {
    flex: 1;
    display: flex;
    align-items: center;
}

.link-box {
}

div#submit-group {
    flex: 1;
}

.form-content {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.form-outline {
    max-width: 60vw;
    border: solid white 2px;
    border-radius: 5px;
    padding: 50px 75px;
    box-shadow: 2px 2px 8px 8px slategrey;
}

label {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 3px;
}

button.form-submit {
    height: 2em;
    width: 5em;
    background: #52a452;
    color: whitesmoke;
    border-radius: 5px;
    border-color: darkgreen;
}

h1 {
    font-family: sans-serif;
    margin-top: 70px;
    color: lightslategrey;
    font-size: xxx-large;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .link-box > a {
        transform: translateY(-35px);
        font-size: 25px;
    }

    .form-content {
        margin-top: 100px;
    }

    input {
        max-width: 80%;
        font-size: 40px;
    }

    .form-outline {
        max-width: 80vw;
    }

    button {
        font-size: 40px;
    }

    label {
        font-size: 40px;
        margin: 0;
    }

    form {
        align-items: center;
        font-size: 26px;
    }

    h1 {
        font-size: 100px;
        padding: 20px;
    }
}

/*


#submit-group {
    display: flex;
    flex-flow: row;
    width: 100%;
}

#submit-group > span.form_error {
    margin: 20px 10px 35px 10px;
}

#form_container {
    transform: translate(40vw, 10vh);
    display: flex;
    width: 30vw;
    min-width: min-content;
    background: #dbe4ee;
    align-items: center;
    flex-flow: column;
}

form {
    width: 30vw;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}


div.form-group {
    margin: 10px;
    display: flex;
    flex-flow: column;
    width: calc(100% - 10px);
    padding-left: 10%;
    padding-right: 10%;
}

input {
    border-radius: 5px;
    min-width: min-content;
    max-width: 75%;
    height: 2em;
    padding-left: 10px;
    margin-left: 5px;
}

button.form-submit {
    margin: 15px 10px 30px calc(10px + 10%);
    width: 18%;
    height: 2em;
    background: #52a452;
    color: whitesmoke;
    border-radius: 5px;
    border-color: darkgreen;
}

 */
