.form-group {
    display: flex;
    flex-flow: column;
}

form {
    display: flex;
    flex-flow: column;
    align-items: baseline;
    margin: 2px;
}

input {
    border: solid slategrey 2px;
    border-radius: 8px
}

.has-error > input {
    border-color: #b54d58;
}

span.form-success {
    color: green;
}

span.form-error {
    color: red;
    font-size: xx-small;
    margin: 2px;
}


.link-box {
    align-self: end;
}

.link-box > a {
    transform: translateY(-19px);
    position: absolute;
}

.form-content {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.form-outline {
    max-width: 60vw;
    border: solid white 2px;
    border-radius: 5px;
    padding: 50px 75px;
    box-shadow: 2px 2px 8px 8px slategrey;
}

label {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 3px;
}

button {
    border: solid black 2px;
    border-radius: 8px;
    margin-top: 50px;
}

h1 {
    font-family: sans-serif;
    padding: 70px 0;
    color: lightslategrey;
    font-size: xxx-large;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .link-box > a {
        transform: translateY(-35px);
        font-size: 25px;
    }

    .form-content {
        margin-top: 100px;
    }

    input {
        max-width: 80%;
        font-size: 40px;
    }

    .form-outline {
        max-width: 80vw;
    }

    button {
        font-size: 40px;
        margin-top: 10px;
    }

    label {
        font-size: 40px;
        margin: 0;
    }

    form {
        align-items: center;
        font-size: 26px;
    }

    h1 {
        font-size: 100px;
        padding: 20px;
    }
}
