div.form-group {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 10px;
    min-width: 190px;
    align-self: center;
}

form {
    display: flex;
    flex-flow: column;
    align-items: baseline;
    margin: 2px;
    width: 30vw;
    min-width: min-content;
    max-width: 300px;
}

body {
    background: var(--bg_color);
    transition-duration: 0.3s;
}

div.link-box-text {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
}

form > p {
    align-self: center;
    max-width: 190px;
}

input {
    border: solid lightslategrey 2px;
    transition: background-color 100ms;
    border-radius: 8px;
    min-width: min-content;
    max-width: 100%;
    height: 2em;
}

input:disabled {
    background-color: #d9dada;
    border: solid #808791 2px;
}

.resizable-y {
    overflow: hidden;
    resize: vertical;
    min-height: 3em;
    display: inline-block;
    height: 5em;
}

.form-group > textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    border: solid lightslategrey 2px;
    border-radius: 8px;
    resize: vertical;
    min-width: min-content;
    max-width: 100%;
    min-height: 2.5em;
    width: 100%;
    height: 5em;
}

.form-group > select {
    border: solid lightslategrey 2px;
    background-color: white;
    align-self: start;
    border-radius: 8px;
    min-width: min-content;
    max-width: 100%;
    height: 2em;
}

fieldset {
    display: flex;
    flex-flow: row;
    border: none;
    align-items: center;
    width: 100%;
}

fieldset > div {
    display: flex;
    flex-flow: row;
    flex: auto;
    align-items: center;
}

fieldset > div > label {
    margin-top: 0;
    align-self: end;
    margin-left: 5px;
}

.has-error > input {
    border-color: #b54d58;
}

div.form-success {
    background: #52a452;
    border-radius: 5px;
    border-color: darkgreen;
    width: 70%;
    align-self: center;
    height: 20%;
    margin: 20px;
    padding: 10px;
    text-align: center;
    transition-duration: 0.3s;
}

div.form-success.clickable:hover {
    background: #6dc76d;
}

div.form_success > span {
    color: whitesmoke;
    font-size: 17px;
    font-weight: bold;
}

span.form-error {
    visibility: hidden;
    color: red;
    font-size: xx-small;
    margin: 2px;
}

span#submit-error {
    margin-top: 10px;
}

div.form-btns {
    display: flex;
    width: 100%;
    margin-top: 30px;
}

div.form-btns.form-btns-down {
    flex-flow: column;
}

div.form-btns > div {
    flex: 1;
    display: flex;
    align-items: center;
}

.link-box {
}

div#forgot-password-box {
    margin-top: 20px;
}

div#submit-group {
    margin: 0;
    flex: 1;
}

div.submit-with-long-btn {
    display: flex;
    width: 100%;
}

form a {
    color: cornflowerblue;
    transition-duration: 0.3s;
}

form a:hover {
    color: #80a8f1;
}

.form-content {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.form-outline {
    background: whitesmoke;
    max-width: 60vw;
    /*border: solid white 2px;*/
    border-radius: 5px;
    padding: 50px 30px;
    box-shadow: 0 15px 35px hsl(0, 0%, 0.2%);
}

label {
    align-self: start;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 3px;
    user-select: none;
}

.file-group > input {
    display: none;
}

label.file-button {
    display: flex;
    align-self: center;
    width: 100%;
    max-width: 190px;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    font-size: medium;
    background: #2a6bbe;
    color: whitesmoke;
    transition-duration: 0.3s;
    border-radius: 5px;
    border: solid 2px #003e64;
}

label.file-button:hover {
    background: #6586b1;
    cursor: pointer;
}

label.file-button.has-file {
    background: #5276a4;
}

label.file-button.has-file {
    background: #89a6cc;
}

.has-error > label.file-button {
    background: #a4527b;
}

.has-error > label.file-button:hover {
    background: #c965b8;
}

button.form-submit {
    height: 2em;
    font-size: medium;
    width: 5em;
    background: #52a452;
    color: whitesmoke;
    transition-duration: 0.3s;
    border-radius: 5px;
    border-color: darkgreen;
}

button.form-submit:hover {
    background: #63b963;
    cursor: pointer;
}

button.form-submit.pressed {
    background: #386838;
}

button.form-submit.disabled:hover {
    background: slategray;
    cursor: default;
}

button.form-submit.disabled {
    background: slategray;
}

button.form-submit.pressed:hover {
    background: #447c44;
}

button.form-submit.error {
    background: #683838;
    border-color: black;
}

button.form-submit.error:hover {
    background: #7c4444;
    border-color: black;
}

h1 {
    font-family: sans-serif;
    margin-top: 70px;
    color: lightslategrey;
    font-size: xxx-large;
    text-align: center;
    cursor: default;
}

button.long-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 11em;
    align-self: center;
}

button.med-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 9em;
    align-self: center;
}

.billing-wrapper {
    display: flex;
    align-self: center;
    flex-flow: column;
    background: #dedeae;
    padding: 15px;
    border-radius: 20px;
}

.billing-group {
    display: flex;
    margin-top: 10px;
    flex-flow: row;
}

.billing-label {
    margin-right: 10px;
    flex: auto;
    font-weight: bold;
    color: #2a3f3f;
}

.billing-value {
    flex: auto;
    text-align: end;
}

.billing-seperator {
    width: 100%;
}

.upload-progress-wrapper {
    width: 80%;
}

#upload-progress {
    visibility: hidden;
    display: flex;
    align-items: center;
    border: 1px solid #0099CC;
    width: 100%;
    padding: 1px;
    position: relative;
    height: 30px;
    border-radius: 3px;
    margin: 10px;
    text-align: left;
    background: #fff;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
}

.upload-progress-bar {
    height: 100%;
    border-radius: 3px;
    background-color: #b9dfea;
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}

.upload-progress-text {
    position: absolute;
    left: 45%;
    display: inline-block;
    color: #000000;
}

@media only screen and (max-width: 1200px) {
    .link-box > a {
        font-size: 25px;
    }

    div.form-outline {
        padding: 10px 10px;
    }

    span.form-error {
        font-size: 30px;
    }

    div.form-group {
        margin-top: 20px;
        margin-left: 10px;
    }

    input {
        transition-duration: 100ms;
        min-width: 50vw;
        max-width: 70vw;
        font-size: 40px;
    }

    .form-outline {
        max-width: 80vw;
    }

    div#submit-group {
        margin-top: 0;
    }

    button.form-submit {
        font-size: x-large;
    }

    label {
        font-size: 30px;
        margin: 0;
    }

    form {
        align-items: center;
        font-size: 26px;
    }

    h1 {
        font-size: 70px;
        margin: 40px;
    }
}

@media screen and (max-width: 600px) {
    input {
        font-size: 26px;
    }
}
