:root {
    --bg_color: #e1f0ff
}

body{
    margin: 60px 0 0 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.dropbtn {

    background-color: #343;
    color: black;
    padding: 12px;
    font-size: 16px;
    border: none;
}

.dropdown {
    float: right;
}

.dropdown-content {
    display: none;
    opacity: 0;
    position: absolute;
    background-color: #676;
    right: -150px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 3;
    min-width: 150px;
    text-align: left;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
    text-align: right;
    width: 90%;
}
.dropdown-videos-content a {
    float: none;
    color: black;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
    text-align: right;
    width: 90%;
}

.dropdown-content a:hover {background-color: darkcyan;}
.dropdown-videos-content a:hover {background-color: darkcyan;}



.dropdown:hover .dropbtn {background-color: #676;}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 60px;
    transition: 0.5s;
    background-color: maroon;
}

.sidebar a {
    text-decoration: none;
    font-size: 25px;
    padding: 8px 8px 8px 32px;
    color: white;
    display: flow;
    transition: 0.3s;
}

.sidebar a:hover {
    color: black;
}

.sidebar .closebtn{
    color: black;
    position: absolute;
    font-size: 67px;
    right: 200px;
    margin-left: 150px;
    top: 0;
}

.openbtn:hover {
    background-color: darkmagenta;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
}

body {
    margin-top: 60px;
}

.topnav {
    display: flex;
    flex-flow: row;
    background-color: #343;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

}
.navbar-stretch-1{
flex: 1;
}
.navbar-stretch-2{
flex: 9;
}
.home-button{

}
.browse-button:hover{
    background-color: #676;
}
.courses-button:hover{
    background-color: #676;
}
.videos-button:hover{
    background-color: #676;
}

.dropdown-videos-content {
    display: none;
    position: absolute;
    background-color: #676;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 0;
    min-width: 150px;
    text-align: left;
}

.dropdown-videos-content a {
    text-decoration: none;
    display: block;
    width: 100%;
    float: left;
    color: #fafaf0;
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: 18px;
}

.topnav a {
    float: left;
    color: #fafaf0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}




.topnav #mandje {
    padding: 14px 14px 10px;
}


.topnav #mandje:hover {
    cursor: pointer;
    background-color: #676;
}


.topnav a:hover {
    cursor: pointer;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.sidebar-right{
    display: flex;
    flex-flow: column;
    align-items: baseline;
    right: -300px;
    height: 100%;
    width: 300px;
    background-color: #fff;
    position: fixed;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.cart-item-anchor {
    align-self: center;
    width: 80%;
    margin-right: 15%;
    margin-left: 5%;
}

.cart-item-wrapper {
    font-size: 17px;
    display: flex;
    width: 100%;
    background-color: #fafaf2;
    padding: 8px 16px;
    transition: background-color 100ms ease-out;
    border-radius: 30px;
    align-items: center;
}

.cart-item-wrapper:hover {
    color: #000;
    background-color: #f8f6ee;
}

.cart-item-name {
    color: #232320;
    flex: auto;
    text-align: left;
}

.cart-item-price {
    margin-right: 10px;
    color: #606052;
}

.cart-item-delete {
    color: darkred;
    transition: color 100ms ease-in-out;
    font-variation-settings: 'FILL' 1;
    cursor: pointer;
}

.cart-item-delete:hover {
    color: red;
}

.sidebar-right > hr {
    width: 90%;
}

.sidebar-text {
    font-size: 17px;
    padding: 8px 16px;
    text-align: left;
}

.sidebar-close {
    height: 60px;
    font-size: 17px;
    color: #111111;
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;

}

.sidebar-block .sidebar_checkout {
    background-color: green;
    height: 60px;
    font-size: 17px;
    color: black;
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
}

.cart-items-empty {
    width: 80%;
    color: #2a2a28;
    font-size: medium;
    align-self: center;
    background-color: #f5f5db;
    border-radius: 30px;
    padding: 10px;
    margin-top: 30px;
}

.cart-item-anchor ~ .checkout-sidebar {
    display: block;
}

.cart-item-anchor ~ .cart-items-empty {
    display: none;
}

.checkout-sidebar {
    display: none;
    padding: 14px 16px;
    align-self: center;
}

.checkout-button {
    display: flex;
    flex-flow: row;
    align-items: center;
    text-align: center;
    height: 2.5em;
    font-size: medium;
    width: 10em;
    background: #5276a4;
    color: whitesmoke;
    transition-duration: 0.3s;
    border-radius: 5px;
    border-color: #003e64;
}

.checkout-button > span {
    flex: auto;
}

.checkout-button:hover {
    background: #6586b1;
    cursor: pointer;
}

.checkout-button.pressed {
    background: #386838;
}

.checkout-button.disabled:hover {
    background: slategray;
    cursor: default;
}

.checkout-button.disabled {
    background: slategray;
}

.checkout-button.pressed:hover {
    background: #447c44;
}

.sidebar-active-cover {
    background-color: black;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vw;
    z-index: 1;
    position: fixed;
    opacity: 0;
}

.sidebar-active-cover.hidden {
    pointer-events: none;
}

#account-picture {
    color: white;
    font-size: 32px;
}

#shopping-cart{
    color: white;
    font-size: 32px;

}


