p {
    background: beige
}

.dropbtn {
    background-color: darkcyan;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: darkcyan;
    min-width: 350px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: darkcyan;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: darkcyan;}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 60px;
    transition: 0.5s;
    background-color: maroon;
    overflow-x: hidden;
}

.sidebar a {
    text-decoration: none;
    font-size: 25px;
    padding: 8px 8px 8px 32px;
    color: white;
    display: flow;
    transition: 0.3s;
}

.sidebar a:hover {
    color: black;
}

.sidebar .closebtn{
    color: black;
    position: absolute;
    font-size: 67px;
    right: 200px;
    margin-left: 150px;
    top: 0;
}

.openbtn:hover {
    background-color: darkmagenta;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
}

body {
    font-family: "Lato", sans-serif;
}

