:root {
    --bg_color: #e1f0ff
}

html {
    font-family: 'Roboto', sans-serif;
}

.dropbtn {

    background-color: #343;
    color: black;
    padding: 12px;
    font-size: 16px;
    border: none;
}

.dropdown {
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #676;
    right: 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 150px;
    text-align: left;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
    text-align: right;
    width: 90%;
}

.dropdown-content a:hover {background-color: darkcyan;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #676;}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 60px;
    transition: 0.5s;
    background-color: maroon;
}

.sidebar a {
    text-decoration: none;
    font-size: 25px;
    padding: 8px 8px 8px 32px;
    color: white;
    display: flow;
    transition: 0.3s;
}

.sidebar a:hover {
    color: black;
}

.sidebar .closebtn{
    color: black;
    position: absolute;
    font-size: 67px;
    right: 200px;
    margin-left: 150px;
    top: 0;
}

.openbtn:hover {
    background-color: darkmagenta;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
}

body {
    margin-top: 60px;
}

.topnav {
    background-color: #343;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav #mandje {
    float: right;
    padding: 14px;
}


.topnav #mandje:hover {
    cursor: pointer;
    background-color: #676;
}

.topnav a:hover {
    color: black;
    cursor: pointer;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.sidebar_right{
    display: flex;
    flex-flow: column;
    align-items: baseline;
    right: -300px;
    height: 100%;
    width: 300px;
    background-color: #fff;
    position: fixed;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.sidebar_block .sidebar_item{
    font-size: 17px;
    color: #111111;
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0
}

.sidebar_item:hover{
    color:#000;
    background-color:#ccc
}

.sidebar_text {
    font-size: 17px;
    padding:8px 16px;
    text-align:left;
}

.sidebar_close {
    height: 60px;
    font-size: 17px;
    color: #111111;
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;

}

.sidebar_block .sidebar_checkout {
    background-color: green;
    height: 60px;
    font-size: 17px;
    color: black;
    width:100%;
    display: block;
    padding:8px 16px;
    text-align:left;
    border:none;

}

.sidebar_block .checkout_sidebar {
    padding: 14px 16px;
}

#checkout_sidebar {
    height: 2em;
    font-size: medium;
    width: 7em;
    background: #52a452;
    color: whitesmoke;
    transition-duration: 0.3s;
    border-radius: 5px;
    border-color: darkgreen;
}

#checkout_sidebar:hover {
    background: #63b963;
    cursor: pointer;
}

#checkout_sidebar.pressed {
    background: #386838;
}

#checkout_sidebar.disabled:hover {
    background: slategray;
    cursor: default;
}

#checkout_sidebar.disabled {
    background: slategray;
}

#checkout_sidebar.pressed:hover {
    background: #447c44;
}
