html{
    overflow-x: hidden;
    background-color: #676;
}

.homepage-all {
    display: flex;
    flex-flow: column;
}
.homepage-top {
    display: flex;
    flex-flow: column;
    width: 100vw;
    height: 550px;
}
.background-grove {
    filter: brightness(70%) contrast(70%);
    width: 100vw;
    height: 550px;
    object-fit: fill;
}
.welcome-text {
    position: absolute;
    align-self: center;
    font-size: 40px;
    color: #aca ;
    padding: 21px;

}
.explore-button {
    position: absolute;
    align-self: center;
    top: 500px;
    z-index: 30;
}
.stretch-box-homepage-1 {
    flex: 3;
}
.stretch-box-homepage-2 {
    flex: 1;
}
.stretch-box-homepage-3 {
    flex: 1;
}

.explore-button {
    background-color: #cceecc66;
    border-radius: 20px;
    border: 2px solid #343;
}
.explore-button:hover{
    background-color: #cceeccaa;
}

.explore-button .button-text {
    color: #343;
    padding: 14px;
    text-decoration: none;
    font-size: 21px;
}

.explore-button  a {
    text-decoration: none;
}

.homepage-bottom {
    padding-top: 7px;
    font-family: "Abyssinica SIL", sans-serif;
    color: #232;
    height: 31vh;
    display: flex;
    flex-flow: row;
}

.homepage-information{
    min-width: 28vw;
    padding: 14px;
    border-right: 2px solid;
}
.homepage-bottom .text h1 {
    font-size: 25px;
    font-weight: normal;

}

@media screen and (max-aspect-ratio: 1/1){
    .homepage-bottom {
        flex-flow: column;
    }
    .homepage-information {
        padding: 14px;
        border-bottom: 2px solid;
    }
}