html {
    background-color: #c3e0c0;
}


.header-box {
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.header {
    font-size: 60px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: solid black 5px;
}

.best-header-box {
    margin-top: 30px;
    margin-bottom: 20px;
}

.best-course-header {
    font-size: 40px;
    font-weight: bold;
}

.thumbnail {
    max-width: 500px;
    max-height: 282px;
}

.box {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.formal-box {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.all-courses {
    margin-top: 60px;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    flex: auto;
}

.course {
    padding: 8px;
    border: solid 8px #334433FF;
    border-radius: 12px;
    margin: 8px;
}

.best-course-info {
    text-align: center;
    padding: 8px;
    border-bottom: solid black 4px;
    margin-bottom: 20px;
}

.course-info {
    padding: 8px;
    border-bottom: solid black 4px;
    margin-bottom: 20px;
}

.all-courses-header-box {
    margin-top: 40px;
}

.all-courses-header {
    font-size: 40px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: solid black 5px;
}

@media screen and (max-aspect-ratio: 1/1) {
    .all-courses {
        flex-flow: column;
    }

    .thumbnail {
        min-width: 40vw;
    }
}