html {
    background-color: #c3e0c0;
}


.course-and-video {
    display: flex;
    flex-flow: row;
    max-width: 100%;
}

.empty-space {
    min-width: 10%;
}

.header-box {
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.text-and-course {
    display: flex;
    flex-flow: column;
    max-width: fit-content;
}

.empty-space-course {
    min-width: 10%;
}

.course-text-outline {
    align-self: center;
    display: flex;
    flex-flow: column;
}

.course-text {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.course-box {
    align-self: end;
}

.no-course-box {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    min-width: 500px;
    min-height: 282px;
    background-color: black;
}

.no-course {
    margin-top: 22%;
    font-size: 30px;
    color: white;
    align-self: center;
    text-align: center;
}

.header {
    font-size: 60px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: solid black 5px;
}

.best-header-box-course {
    margin-top: 30px;
    text-align: center;
    max-width: 100%;
    margin-bottom: 5%;
}

.best-header-box {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.best-video-header {
    font-size: 40px;
    font-weight: bold;
}

.thumbnail {
    max-width: 500px;
    max-height: 282px;
}

.box {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.formal-box {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.all-videos {
    margin-top: 60px;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    flex: auto;
    max-width: 90%;
}

.best-video-outline {
    padding: 8px;
    border: solid 8px #334433FF;
    border-radius: 12px;
    margin-left: 8px;
    margin-right: 8px;
}

.best-video-info {
    text-align: center;
    padding: 8px;
    border-bottom: solid black 4px;
    margin-bottom: 20px;
}

.normal-video-outline {
    padding: 8px;
    border: solid 8px #334433FF;
    border-radius: 12px;
    margin: 8px;
}

.normal-video-info {
    padding: 8px;
    border-bottom: solid black 4px;
    margin-bottom: 20px;
}

.all-videos-header-box {
    margin-top: 80px;
}

.all-videos-header {
    font-size: 40px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: solid black 5px;
}

@media screen and (max-aspect-ratio: 1/1) {
    .all-videos {
        flex-flow: column;
    }

    .thumbnail {
        max-width: 424px;
    }

    .course-and-video {
        flex-flow: column;
    }

    .best-video-outline {
        text-align: center;
    }

    .course-text {
        margin-top: 20px;
    }

    .thumbnail {
        max-width: 345px;
    }

    .no-course {
        max-width: 80%;
    }
}