html {
    background-color: #e1f0ff;
}

.video-and-description-big-box {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.video-and-description {
    display: flex;
    align-items: baseline;
    flex-flow: column;
}

.description {
    align-self: start;
    display: flex;
    flex-flow: column;
    align-items: baseline;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    color: white;
    margin-top: 20px;
    background-color: #2A2929FF;
    border-radius: 20px;
    width: 100%;
}

.video-outline {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.video {
    display: flex;
    flex-flow: column;
    margin-top: 100px;
    align-items: start;
}

.video-name {
    font-size: 35px;
    font-weight: bold;
    margin-top: 3px;
}

.paid-video {
    display: flex;
    flex-flow: column;
    min-height: 330px;
    background-color: black;
    color: white;
    align-items: center;
    max-width: 600px;
}

.paid-video-text {
    margin-top: 90px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.views-and-when {
    margin-bottom: 10px;
}

.upload-date {
    margin-left: 10px;
}

.video-info {
    font-weight: lighter;
}

.collapsible {
    color: white;
    background-color: #2A2929FF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    max-width: max-content;
    border-radius: 15px;
}

.collapsible:hover {
    background-color: #1c1b1b;
}

.content {
    max-height: 0;
    padding: 0 18px;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

.form-error {
    visibility: hidden;
}

button.form-submit {
    height: 2em;
    font-size: medium;
    background: #52a452;
    color: whitesmoke;
    transition-duration: 0.3s;
    border-radius: 5px;
    border-color: darkgreen;
}

button.form-submit:hover {
    background: #63b963;
    cursor: pointer;
}

button.form-submit.pressed {
    background: #386838;
}

button.form-submit.go-to-cart {
    visibility: hidden;
}

form#cart {
    display: none;
}

div.comments-wrapper {
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    align-items: baseline;
    width: 60vw;
    transform: translateX(30vw);
}

span.comments-title {
    font-size: x-large;
    transform: translateX(15vw);
}

span.comments-error {
    font-size: large;
    color: red;
}

div.comments {
    display: flex;
    align-items: baseline;
    flex-flow: column;
}

div.comment-wrapper {
    margin: 10px;
}

div.comment {
    background: #bbd0e5;
    padding: 6px 14px 6px 14px;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 1px 3px hsl(0, 0%, 0.2%)
}

.comment > .head {
    display: flex;
    flex-flow: row;
    width: 300px;
}

span.comment-username {
    /*flex: 1;*/
    background: lightslategray;
    color: white;
    padding: 3px 7px 3px 7px;
    text-align: center;
    border-radius: 10px;
}

span.head-space {
    flex: auto;
}

span.comment-date {
    /*flex: 1;*/
    color: darkslategray;
    text-align: center;
}

div.comment-text-wrapper {
    margin-top: 5px;
    width: 90%;
}

div.toggle-replies-wrapper {
    margin-top: 7px;
}

button.show-replies {
    background: #bbd0e5;
    color: #88939d;
    border: none;
    padding: 3px 7px 3px 7px;
    text-align: center;
    border-radius: 10px;
    transform: translateX(15%);
    box-shadow: 0 1px 3px hsl(0, 0%, 0.2%)
}

div.comment-replies-wrapper {
    padding-left: 25px;
}

div.comment-reactions-wrapper {
    padding-top: 10px;
    display: flex;
    flex-flow: row;
    width: 100%;
}

div.comment-replies-wrapper > span:hover {
    cursor: pointer;
}

div.comment-reactions-gap-l {
    flex: 3 1 auto;
}

div.comment-reactions-gap-s {
    width: 10px;
}
