html {
    background-color: #e1f0ff;
}

.video-and-description-big-box {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.video-and-description {
    display: flex;
    align-items: baseline;
    flex-flow: column;
}

.description {
    align-self: start;
    display: flex;
    flex-flow: column;
    align-items: baseline;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    color: white;
    margin-top: 20px;
    background-color: #2A2929FF;
    border-radius: 20px;
    width: 100%;
}

.video-outline {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.video {
    display: flex;
    flex-flow: column;
    margin-top: 100px;
    align-items: start;
}

.video-name {
    font-size: 35px;
    font-weight: bold;
    margin-top: 3px;
}

.views-and-when {
    margin-bottom: 10px;
}

.upload-date {
    margin-left: 10px;
}

.video-info {
    font-weight: lighter;
}

.collapsible {
    color: white;
    background-color: #2A2929FF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    max-width: max-content;
    border-radius: 15px;
}

.collapsible:hover {
    background-color: #1c1b1b;
}

.content {
    max-height: 0;
    padding: 0 18px;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}
