.content-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.items-wrapper {
    min-width: 30vw;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.review-item-anchor {
    width: 100%;
}

.review-item-wrapper {
    width: 100%;
    background: #fff5de;
    transition: background-color 100ms ease-out;
    padding: 6px 14px 6px 14px;
    border-radius: 20px;
    display: flex;
    flex-flow: row;
    align-items: center;
    box-shadow: 0 1px 3px hsl(0, 0%, 0.2%);
    color: #1b1b1c;
}

.review-item-wrapper:hover {
    background: #f5e7c9;
}

.review-item-name {
    flex: auto;
    font-size: large;
    text-align: center;
}

.review-item-price {
    flex: auto;
    font-size: medium;
    color: gray;
}

.review-item-anchor ~ .checkout-empty-wrapper {
    display: none;
}

.review-item-anchor ~ .review-payment-anchor {
    display: block;
}

.checkout-empty-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.checkout-empty-text {
    margin-top: 50px;
    color: darkslategray;
}

.checkout-empty-wrapper > a {
    color: #80a8f1;
    transition: color 300ms ease-in-out;
    margin-top: 10px;
    text-decoration: none;
}

.checkout-empty-wrapper > a:hover {
    color: #97b6ee;
}

.review-payment-wrapper {
    margin-top: 50px;
    color: darkslategray;
    background: #cff1bb;
    padding: 12px 28px 12px 28px;
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-flow: row;
    align-items: center;
    box-shadow: 0 2px 5px hsl(0, 0%, 0.2%)
}

a:link {
    text-decoration: none;
}

.review-payment-anchor {
    align-self: start;
    display: none;
}
